img {
    width: 150px; 
    height: 150px;
    border-radius: 5px 5px 0 0;
}

.background-color-bug {
    background-color: #729f3f !important;
    color: #ffffff !important;
}

.background-color-dragon {
    background-color: #f16e57 !important;
    color: #ffffff !important;
} 

.background-color-fairy {
    background-color: #fdb9e9 !important;
    color: #212121 !important;
}

.background-color-fire {
    background-color: #fd7d24 !important;
    color: #a08181 !important;
}

.background-color-ghost {
    background-color: #7b62a3 !important;
    color: #fff !important;
}


.background-color-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%) !important;
    background-color: #f7de3f !important;
    color: #212121 !important;
}

.background-color-normal {
    background-color: #a4acaf !important;
    color: #212121 !important;
}

.background-color-psychic {
    background-color: #f366b9 !important;
    color: #fff !important;
}


.background-color-steel {
    background-color: #9eb7b8 !important;
    color: #212121 !important;
}

.background-color-dark {
    background-color: #707070 !important;
    color: #fff !important;
}

.background-color-electric {
    background-color: #eed535 !important;
    color: #212121 !important;
}


.background-color-fighting {
    background-color: #d56723 !important;
    color: #fff !important;
}

.background-color-flying {
    background-color: #3dc7ef !important;
    color: #212121 !important;
}


.background-color-grass {
    background-color: #9bcc50 !important;
    color: #212121 !important;
}

.background-color-ice {
    background-color: #51c4e7 !important;
    color: #212121 !important;
}

.background-color-poison {
    color: #fff !important;
    background-color: #b97fc9 !important;
}

.background-color-rock {
    background-color: #a38c21 !important;
    color: #fff !important;
}

.background-color-water {
    background-color: #4592c4 !important;
    color: #fff !important;
}








